/* resets */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  --color-1:hsl(208, 54%, 78%);
  --color-2:hsl(208, 44%, 60%);
}

/* body -------------------------------------------------------------------- */

body {
    min-height: 100vh;
    background-color: var(--color-1);
}


/* header ---------------------------------------------------------------------- */
header {
    background-color: var(--color-2);
}

.bg-dark1 {
    background-color: rgb(0, 0, 0, 0.2);
}


/* section ----------------------------------------------------------------- */

.title {
    background-color: var(--color-2);
}

.task-column {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 10px;
    flex-wrap: wrap;
    min-height: 200px;
}

.cur-move {
    cursor: move;
}

.card {
    user-select: none;
    min-width: 10rem;
}

.dropdown { display: inline-block; }

.dropdown-menu {
    top: 120%;
    background-color: var(--bs-secondary);
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    min-width:auto !important;

    p{
        padding-left: px;
        margin: 0;
        background-color: rgb(0, 0, 0, 0.5);
    }

    & > * {color: var(--bs-light);}
}